<footer id="footer" role="contentinfo">
    

        <ul class="widgetLine widgetLine__1">



            <li class="footer-column">



                <div class="reinsurance__wrap" data-widgetId="12639" data-widgettemplate="FooterServiceWithPicto"
                    data-datemodified="2025-03-05T09:19:00">
                    <button class="reinsurance__item " data-url="/services/delivery.aspx" data-isPanel="True"
                        tabindex="0">
                        <img loading="lazy" width="48px" height="48px"
                            src="https://cdn.laredoute.com/generic/marketingwarehouse/6/4287c78912331.svg" alt="Entrega"
                            class="reinsurance__picto" />
                        <h3 class="reinsurance__label">Entrega</h3>
                    </button>
                </div>
            </li>
            <li class="footer-column">



                <div class="reinsurance__wrap" data-widgetId="12783" data-widgettemplate="FooterServiceWithPicto"
                    data-datemodified="2023-02-16T14:09:12">
                    <button class="reinsurance__item " data-url="/services/returns.aspx" data-isPanel="True"
                        tabindex="0">
                        <img loading="lazy" width="48px" height="48px"
                            src="https://cdn.laredoute.com/generic/marketingwarehouse/6/4287d01aab2a3.svg" alt=""
                            class="reinsurance__picto" />
                        <h3 class="reinsurance__label">TROCAS &amp; DEVOLU&#199;&#213;ES</h3>
                    </button>
                </div>
            </li>
            <li class="footer-column">



                <div class="reinsurance__wrap" data-widgetId="12784" data-widgettemplate="FooterServiceWithPicto"
                    data-datemodified="2025-02-12T15:51:39">
                    <button class="reinsurance__item " data-url="/services/payment.aspx" data-isPanel="True"
                        tabindex="0">
                        <img loading="lazy" width="48px" height="48px"
                            src="https://cdn.laredoute.com/generic/marketingwarehouse/6/card.svg" alt="pagamento"
                            class="reinsurance__picto" />
                        <h3 class="reinsurance__label">PAGAMENTO SEGURO</h3>
                    </button>
                </div>
            </li>
            <li class="footer-column">



                <div class="reinsurance__wrap" data-widgetId="12785" data-widgettemplate="FooterServiceWithPicto"
                    data-datemodified="2025-02-12T15:50:39">
                    <button class="reinsurance__item " data-url="/services/contactDetails.aspx" data-isPanel="True"
                        tabindex="0">
                        <img loading="lazy" width="48px" height="48px"
                            src="https://cdn.laredoute.com/generic/marketingwarehouse/6/headphones.svg" alt="apoio"
                            class="reinsurance__picto" />
                        <h3 class="reinsurance__label">APOIO AO CLIENTE</h3>
                    </button>
                </div>
            </li>
            <script type="text/javascript">
                $(function () {
                    if ($.fn.widgetFooterServiceWithPicto) {
                        $.fn.widgetFooterServiceWithPicto($(".reinsurance__wrap"));
                    }
                    if ($.fn.widgetFooterBlockOfLogos) {
                        $.fn.widgetFooterBlockOfLogos($(".logoLinks__items.canScroll:not(.hasScroll)"))
                    }
                })
            </script>

        </ul>
        <div class="widgetLine widgetLine__2  ">



            <div class="footer-column">



                <div class="footer-services-block" data-widgetId="12786" data-widgettemplate="FooterBlockOfLinks"
                    data-datemodified="2023-12-05T12:31:25">

                    <h3 class="footer-services-title" tabindex="0">LA REDOUTE</h3>

                    <ul class="footer-services-content">
                        <li class='footer-services-link  '>
                            <a href="/services/quemsomos.aspx" ;>Quem somos</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/services/contactDetails.aspx" ;>Contactos</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/alt/responsavel.aspx" ;>Sustentabilidade e
                                responsabilidade social
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">



                <div class="footer-services-block" data-widgetId="12787" data-widgettemplate="FooterBlockOfLinks"
                    data-datemodified="2025-07-11T08:28:18">

                    <h3 class="footer-services-title" tabindex="0">SERVI&#199;OS</h3>

                    <ul class="footer-services-content">
                        <li class='footer-services-link  '>
                            <a href="/services/faq.aspx" ;>Ajuda</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/services/returns.aspx" ;>Trocas e Devolu&#231;&#245;es</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/myaccount/newsletterunsubscribeoffline.aspx" ;>Remover
                                inscri&#231;&#227;o de Newsletter</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/logisimple-montagem.aspx" ;>Montagem de
                                mobili&#225;rio</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/faq-o-que-e-o-compra-e-poupa.aspx" ;>Compra e Poupa</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">



                <div class="footer-services-block" data-widgetId="12789" data-widgettemplate="FooterBlockOfLinks"
                    data-datemodified="2025-10-13T15:31:18">

                    <h3 class="footer-services-title" tabindex="0">MARCAS EXCLUSIVAS</h3>

                    <ul class="footer-services-content">
                        <li class='footer-services-link  '>
                            <a href="/alt/laredoutecollections.aspx" ;>La Redoute
                                Collections</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/hub-lri.aspx" ;>La Redoute Int&#233;rieurs</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/pplp/cat-85201.aspx" ;>AM.PM</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">



                <div class="footer-services-block" data-widgetId="12790" data-widgettemplate="FooterBlockOfLinks"
                    data-datemodified="2024-07-25T09:28:02">

                    <h3 class="footer-services-title" tabindex="0">UNIVERSO LA REDOUTE</h3>

                    <ul class="footer-services-content">
                        <li class='footer-services-link  '>
                            <a href="/inspiration/" ;>Inspira&#231;&#227;o</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="https://www.youtube.com/user/RedoutechannelPT" ;>V&#237;deos</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/b2b.aspx" ;>Profissionais</a>
                        </li>
                        <li class='footer-services-link  '>
                            <a href="/app.aspx" ;>APP La Redoute</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $.fn.widgetFooterBlockOfLinks($(".footer-services-content"));
        </script>
        <div class="widgetLine widgetLine__3 ">



            <div class="footer-column">

                <h3 class="logoLinks__title">MODOS DE PAGAMENTO</h3>
                <div class="logoLinks__wrap" data-widgetId="12791" data-widgettemplate="FooterBlockOfLogos"
                    data-datemodified="2024-02-07T11:55:31">

                    <button class="prev-icon"></button>

                    <ul class="logoLinks__items canScroll" data-name="Footer payments line 3">

                        <li class="logoLinks__item" data-id=0>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/4288b1604a231.svg"
                                alt="visa" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=1>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/4288b25d9ed96.svg"
                                alt="mastercard" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=2>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/4288b3496bc60.svg"
                                alt="paypal" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=3>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42bb001e12534.svg" alt="MB"
                                class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=4>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42bb007871d20.svg"
                                alt="MB way" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=5>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/58c6e2c6af917.svg"
                                alt="Apple pay" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=6>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/58d32b47fcc81.svg"
                                alt="Google Pay" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=7>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/5b85fe0adbcb3.svg"
                                alt="Klarna" class="logoLinks__picto" tabindex="0" />
                        </li>
                        <li class="logoLinks__item" data-id=8>
                            <img loading="lazy"
                                src="https://cdn.laredoute.com/generic/marketingwarehouse/6/58567c4d30ca6.svg"
                                alt="amex" class="logoLinks__picto" tabindex="0" />
                        </li>
                    </ul>

                    <button class="next-icon"></button>
                </div>
            </div>
            <div class="footer-column">

                <h3 class="logoLinks__title">SEMPRE JUNTOS</h3>
                <div class="logoLinks__wrap" data-widgetId="12883" data-widgettemplate="FooterBlockOfLogos"
                    data-datemodified="2024-11-26T09:14:48">

                    <button class="prev-icon"></button>

                    <ul class="logoLinks__items canScroll" data-name="Footer social line 3">

                        <li class="logoLinks__item" data-id=0>
                            <a href="https://www.facebook.com/LaRedoutePT/" target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42ba8d58272c5.svg"
                                    alt="Facebook" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=1>
                            <a href="https://twitter.com/laredoutept" target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/5352aa58eae14.svg"
                                    alt="X" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=2>
                            <a href="https://www.instagram.com/laredoute_pt/" target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42ba9232132e1.svg"
                                    alt="Instagram" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=3>
                            <a href="https://www.pinterest.pt/laredoutept/" target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42ba940091394.svg"
                                    alt="Pinterest" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=4>
                            <a href="https://www.youtube.com/user/RedoutechannelPT" target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42ba97477fd62.svg"
                                    alt="Youtube" class="logoLinks__picto" />
                            </a>
                        </li>
                    </ul>

                    <button class="next-icon"></button>
                </div>
            </div>
            <div class="footer-column">

                <h3 class="logoLinks__title">APP LA REDOUTE</h3>
                <div class="logoLinks__wrap" data-widgetId="12884" data-widgettemplate="FooterBlockOfLogos"
                    data-datemodified="2022-10-04T03:57:18">


                    <ul class="logoLinks__items " data-name="Footer app line 3">

                        <li class="logoLinks__item" data-id=0>
                            <a href="https://play.google.com/store/apps/details?id=com.ocito.laredoute&amp;gl=US"
                                target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42c56496037d0.svg"
                                    alt="" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=1>
                            <a href="https://apps.apple.com/fr/app/la-redoute-mode-maison-ampm/id393136788"
                                target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/42bac4ab3a5a8.svg"
                                    alt="" class="logoLinks__picto" />
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="footer-column">

                <h3 class="logoLinks__title">DISTIN&#199;&#213;ES</h3>
                <div class="logoLinks__wrap" data-widgetId="15212" data-widgettemplate="FooterBlockOfLogos"
                    data-datemodified="2025-02-12T15:13:37">


                    <ul class="logoLinks__items " data-name="Footer trust line 3">

                        <li class="logoLinks__item" data-id=0>
                            <a href="https://portaldaqueixa.com/brands/la-redoute/news/la-redoute-eleita-marca-recomendada-pelo-5o-ano-consecutivo"
                                target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/picto-recomendado.png"
                                    alt="marca_recomendada" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=1>
                            <a href="https://www.ctt.pt/grupo-ctt/media/noticias/conheca-os-grandes-vencedores-da-primeira-edicao-dos-ctt-e-commerce-awards"
                                target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/43813b50621ae.webp"
                                    alt="ctt" class="logoLinks__picto" />
                            </a>
                        </li>
                        <li class="logoLinks__item" data-id=2>
                            <a href="https://selo.confio.pt/sites/profile/dbc96dd0-e224-11e6-bcdb-ad97c1bc4de5"
                                target="_blank">
                                <img loading="lazy"
                                    src="https://cdn.laredoute.com/generic/marketingwarehouse/6/43813bae7df0a.svg"
                                    alt="confio" class="logoLinks__picto" />
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="widgetLine widgetLine__4">



            <div class="footer-column">


                <ul id="FooterListOfLinks" class="footer__listOfLinks" data-cerberus="area_footer_link"
                    data-widgetId="12908" data-widgettemplate="FooterListOfLinks"
                    data-datemodified="2025-03-03T12:13:20">
                    <li class="footer__listOfLinks__item"><a href="/sellconditions.aspx" class="">Condi&#231;&#245;es
                            gerais de venda</a></li>
                    <li class="footer__listOfLinks__item"><a href="/services/legal-promo.aspx"
                            class="">*Condi&#231;&#245;es das ofertas em vigor</a></li>
                    <li class="footer__listOfLinks__item"><a href="/politica-de-privacidade.aspx" class="">Pol&#237;tica
                            de
                            privacidade e cookies</a></li>
                    <li class="footer__listOfLinks__item"><a href="#" class="footer-cta-show-privacy-center">Gerir
                            cookies</a></li>
                    <li class="footer__listOfLinks__item"><a href="https://www.livroreclamacoes.pt/" class="">Livro de
                            reclama&#231;&#245;es eletr&#243;nico</a></li>
                    <li class="footer__listOfLinks__item"><a
                            href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=PT"
                            class="">Resolu&#231;&#227;o de Lit&#237;gios Online</a></li>
                    <li class="footer__listOfLinks__item"><a href="https://laredoute-talent.talentview.io/?locale=en"
                            class="">Recrutamento La Redoute</a></li>
                </ul>
                <div class="footer__countrySelector" data-widgetId="0" data-widgettemplate="FooterListOfLinks">
                    <span class="sr-only" id="countryInfo"></span>
                    <span class="sr-only" id="changeCountry"></span>
                    <span id="openCountryChoice" tabindex="0" role="combobox"
                        aria-labelledby="countryInfo changeCountry" aria-controls="ulCountryLinks"
                        aria-expanded="false">Portugal</span>
                </div>
            </div>
        </div>



        <input id="idVirtualSite" type="hidden" value="100" />
</footer>