html{
    display: flex;
    width: 1505px;
    height: 2224px;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
}/*1536w default*/

.container{
    display: flex;
    padding-bottom: 1170.24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 83.23px;
    align-self: stretch;
}/*container*/


/*banner*/
.top{
    display: flex;
    width: 1504.8px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0.8px solid #F2F4F7;
    background: #FFF;
}

.container-top{
    display: flex;
    max-width: 1536px;
    padding: 8px 0;
    align-items: flex-start;
    align-self: stretch;
}/*container-top*/

.margin-top{
    display: flex;
    padding-left: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.container-top2{
    display: flex;
    height: 123.97px;
    justify-content: center;
    align-items: flex-start;
}

.box{
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
}

.img-box{
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}/*fim de margin no banner do figma*/