html{
    display: flex;
    width: 1505px;
    height: 2224px;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
}/*1536w default*/

.container{
    display: flex;
    padding-bottom: 1170.24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 83.23px;
    align-self: stretch;
}/*container*/


/*banner*/
.top{
    display: flex;
    width: 1504.8px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0.8px solid #F2F4F7;
    background: #FFF;
}

.container-top{
    display: flex;
    max-width: 1536px;
    padding: 8px 0;
    align-items: flex-start;
    align-self: stretch;
}/*container-top*/

.margin-top{
    display: flex;
    padding-left: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.container-top2{
    display: flex;
    height: 123.97px;
    justify-content: center;
    align-items: flex-start;
}

.box{
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
}

.img-box{
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}/*fim de margin no banner do figma*/

/*container de pesquisa*/
.container-middle{
    flex: 1 0 0;
align-self: stretch;
}

.container-pesquisa{
    display: flex;
    width: 1161px;
    align-items: flex-start;
}

.container-inner-pesquisa{
    display: flex;
    align-items: center;
    align-self: stretch;
}

.lista-pesquisa{
    display: flex;
    align-items: flex-start;
}

.lista-pesquisa-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

item-pesquisa{
    display: flex;
    padding: 11.2px 12px;
    align-items: flex-start;
    border-radius: 4px;
}

.margin-pesquisa{
    display: flex;
    padding: 8px 6px 8px 4.02px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.container-inner-margin-pesquisa{
    display: flex;
    height: 48px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.input-search{
    height: 48px;
    align-self: stretch;
    border-radius: 32px;
    background: #F2F4F7;
    backdrop-filter: blur(12px);
}


/*fim do container de pesquisa*/